<div class="container">
  <div class="header">
    <div class="header-left">
      <a routerLink="">
        <img class="logo" src="/assets/icons/logo.svg" alt="logo">
      </a>
      <div class="header__links">
        <div class="tui-text_body-s">User Ratings</div>
        <div class="tui-text_body-s">Popular Movies</div>
        <div class="tui-text_body-s">New Releases</div>
        <div class="tui-text_body-s">Leaderboard</div>
      </div>
    </div>

    <div class="header-right">
      <app-search-bar></app-search-bar>
      <div class="header__auth">
        <a
          class="header__auth__log-in"
          [routerLink]="['/authorization', 'log-in']">
          Log In
        </a>
        <a
          class="header__auth__sign-up"
          [routerLink]="['/authorization', 'sign-up']">
          Sign Up
        </a>
      </div>
    </div>
  </div>
</div>