<div class="container">
  <a
    class="link"
    [routerLink]="['/movie', movie.id]">
    <img
      class="poster"
      [src]="movie.poster_path"
      alt="poster"/>
    <div class="black-screen"></div>
  </a>

  <div class="info">

    <div
      class="info__rating"
      *ngIf="movie.vote_average">
      <label tuiProgressLabel>
        <span class="percent">{{ formattedRating }}</span>

        <tui-progress-circle
          [color]="ratingColor"
          size="m"
          [max]="10"
          [value]="movie.vote_average!">
        </tui-progress-circle>
      </label>
    </div>

    <div class="info__right">
      <a
        class="info__title"
        [routerLink]="['/movie', movie.id]">
        {{ movie.title }}
      </a>
      <div class="info__year">{{ movie.year }}</div>
    </div>
  </div>
</div>