.container {
  padding-bottom: 24px;
  color: #FFFFFF;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 14px;
  margin-bottom: 14px;

  .title__tag {
    height: 28px;
    width: 4px;
    border-radius: 7px;
    background: #FDCE25;
  }
}

.leaders {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
}