<div *ngIf="stats$ | async as stats" class="container">
  <div class="stats__movies">
    <div class="stats-data">
      <span class="tui-text_body-s">
        {{ stats.movies_count }}
      </span>
      <span class="tui-text_body-s"> Movies </span>
    </div>

    <progress
      class="stats-bar"
      tuiProgressBar
      size="s"
      [value]="stats.movies_count"
      [max]="getNextGoal(stats.movies_count)"
    ></progress>
  </div>

  <div class="stats__minutes">
    <div class="stats-data">
      <span class="tui-text_body-s">
        {{ stats.minutes_count }}
      </span>
      <span class="tui-text_body-s"> Minutes </span>
    </div>

    <progress
      class="stats-bar"
      tuiProgressBar
      size="s"
      [value]="stats.minutes_count"
      [max]="getNextGoal(stats.minutes_count)"
    ></progress>
  </div>

  <div class="stats__reviews">
    <div class="stats-data">
      <span class="tui-text_body-s">
        {{ stats.reviews_count }}
      </span>
      <span class="tui-text_body-s"> Reviews </span>
    </div>

    <progress
      class="stats-bar"
      tuiProgressBar
      size="s"
      [value]="stats.reviews_count"
      [max]="getNextGoal(stats.reviews_count)"
    ></progress>
  </div>
</div>
