@desktop:   ~"only screen and (min-width: 1011px)";
@tablet:    ~"only screen and (min-width: 720px) and (max-width: 1010px)";
@mobile:    ~"only screen and (max-width: 719px)";

.container {
  height: 24px;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.icon {
  height: 24px;
  opacity: .4;
}

input {
  outline: none;
  border: none;
  background: none;
  padding-left: 10px;
  width: 100px;
}
input:focus {
  flex-grow: 1;
}
form:focus-within {
  border-bottom: 2px solid #FDCE25;
}

@media @mobile {
  input {
    display: none;
  }
}