@desktop:   ~"only screen and (min-width: 1011px)";
@tablet:    ~"only screen and (min-width: 720px) and (max-width: 1010px)";
@mobile:    ~"only screen and (max-width: 719px)";

.container {
  height: 24px;
  width: 100%;
  color: #fff;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}

.icon {
  height: 24px;
  opacity: .4;
}

.results {
  display: none;
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  max-height: 500px;
  overflow: scroll;
  background: #2b2b2b;
  z-index: 1;
}

.results__item {
  display: flex;
  flex-direction: row;
  gap: 10px;

  margin-bottom: 0;
}
.results__item:hover {
  background: #474747;
}
.results__item__poster {
  max-height: 120px;
}
.results__item__info {
  display: flex;
  flex-direction: column;
}
.results__item__info * {
  color: #fff;
  white-space: normal;
  line-height: 20px;
}
.results__item__info__title {
  font-weight: bold;
}
.results__item__info__year {
  opacity: 0.7;
}
.results__item__info__overview {
  opacity: 0.7;
  margin-top: 10px;
  max-height: 70px;
  overflow: scroll;
  align-self: flex-end;
}

input {
  outline: none;
  border: none;
  background: none;
  padding-left: 10px;
  width: 100px;
}
input:focus {
  flex-grow: 1;
}
form:focus-within {
  border-bottom: 2px solid #FDCE25;
}
form:focus-within > .results {
  display: block;
}

@media @mobile {
  input {
    display: none;
  }
}