.header {
  width: fit-content;
  position: relative;
}

.actions-wrapper {
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
