<div
  *ngIf="list"
  class="container"
  [ngClass]="{'empty' : isEmpty}">
  <div class="title tui-text_body-xl">
    <div class="title__tag"></div>
    <a>{{ list.listName }}</a>
    <div
      *ngIf="list.isPublic !== undefined"
      class="title__visibility tui-text_body-xs">
      {{ visibilityText }}
    </div>
  </div>
  <div class="content">
    <div
      *ngIf="isEmpty"
      class="content__empty tui-text_body-m">
      This list has no movies yet
    </div>
    <app-movie-card
      *ngFor="let movie of list.movies"
      [movie]="movie">
    </app-movie-card>
  </div>
</div>