.container {
  color: #FFFFFF;
  min-height: 360px;
  display: flex;
  flex-direction: column;
}

.content {
  min-height: fit-content;
  display: flex;
  flex-direction: row;
  gap: 24px;
  overflow: scroll;
}

.content__empty {
  opacity: 0.5;
  padding-left: 18px;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 14px;
  margin-bottom: 14px;

  .title__tag {
    height: 28px;
    width: 4px;
    border-radius: 7px;
    background: #FDCE25;
  }

  .title__visibility {
    opacity: 0.8;
    background-color: #c4c4c414;
    border: 1px solid #C4C4C4;
    color: #828282;
    border-radius: 20px;
    padding: 2px 14px 2px 14px;
  }
}