<div class="container" tuiMode="onDark">
  <tui-tabs [(activeItemIndex)]="activeItemIndex">
    <button tuiTab>
      Following<span *ngIf="following">: {{ following.length }}</span>
    </button>
    <button tuiTab>
      Followers<span *ngIf="followers">: {{ followers.length }}</span>
    </button>
    <button
      *ngIf="activeItemIndex >= 0"
      tuiIconButton
      type="button"
      icon="tuiIconCloseLarge"
      appearance="icon"
      (click)="cancelTabs()"
    ></button>
  </tui-tabs>

  <div class="follows-list" *ngIf="displayFollowing">
    <app-user-preview *ngFor="let user of following" [user]="user">
    </app-user-preview>
  </div>
  <div class="follows-list" *ngIf="displayFollowers">
    <app-user-preview *ngFor="let user of followers" [user]="user">
    </app-user-preview>
  </div>
</div>
