<div class="review">
  <div class="review__header">
    <app-user-preview [user]="author"></app-user-preview>
    <tui-rating
      iconNormal="/assets/icons/star.svg"
      iconFilled="/assets/icons/star-filled.svg"
      [(ngModel)]="review.rating"
      [disabled]="true">
    </tui-rating>
    <div class="review__date tui-text_body-m">
      {{ review.created_at | dateStrigify }}
    </div>
  </div>

  <div class="review__content">
    <div class="review__content__title tui-text_body-l">
      {{ review.title }}
    </div>
    <div class="review__content__text">
      {{ review.review }}
    </div>
  </div>
</div>
