<div class="container">
  <div *ngIf="!videoShown" class="preview">
    <img *ngIf="previewUrl" class="preview__image" [src]="previewUrl">
    <div class="preview__black-screen">

      <div *ngIf="previewUrl" class="wrapper">
        <button class="preview__play" (click)="showVideo()">
          <img class="preview__play__icon" src="assets/icons/play.svg">
        </button>
        <div>
          <div class="preview__name">
            {{name}}
          </div>
          <div class="preview__text">
            Watch the Trailer
          </div>
        </div>
      </div>

      <div *ngIf="!previewUrl" class="wrapper">
        <div class="preview__name">
          No Trailer Available :(
        </div>
      </div>

    </div>
  </div>
  <iframe *ngIf="videoShown"
    class="trailer"
    [src]="safeUrl"
    frameborder="0"
    allowfullscreen>
  </iframe>
</div>