<form class="form" [formGroup]="form" (submit)="submit()">
  <div class="form__rating">
    <tui-rating
      formControlName="rating"
      iconNormal="/assets/icons/star.svg"
      iconFilled="/assets/icons/star-filled.svg"
    >
    </tui-rating>

    <div class="stats-item__text tui-text_body-s form__rating__text">
      my rating
    </div>
  </div>

  <tui-input tuiTextfieldSize="s" formControlName="title" tuiMode="onDark">
    Review Title
  </tui-input>

  <tui-text-area
    tuiTextfieldSize="m"
    formControlName="review"
    tuiMode="onDark"
    [expandable]="true"
  >
    Your Review
  </tui-text-area>

  <button
    tuiButton
    size="m"
    type="submit"
    appearance="auth-submit"
    [disabled]="form.invalid"
  >
    Submit
  </button>
</form>
