/* You can add global styles to this file, and also import other style files */

tui-wrapper[data-appearance='authorization-submit'] {
  background: #FDCE25;
  color: #000;
  border-radius: 5px;

  &[data-state='hovered'] {
    background: #fdce25dd;
  }
}