@desktop:   ~"only screen and (min-width: 960px)";

.movie {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  color: #ffffff;
}

.movie__main {
  width: 100%;
}
.movie__info {
  width: 100%;
}

@media @desktop {
  .movie__main, .movie__reviews {
    width: 63%;
  }
  .movie__info {
    width: 33%;
  }
}

.row {
  width: 100%;
  display: flex;
  gap: 10px;
  padding-bottom: 10px;
}

.movie__poster,
.movie__no-poster {
  object-fit: cover;
  width: 25%;
}
.movie__no-poster {
  aspect-ratio: 27 / 40;
  display: flex;
  align-items: flex-end;
  padding: 20px;
  background: linear-gradient(rgba(0, 0, 0, 0) 0%, #000 100%);

  font-weight: bold;
}

.movie__trailer {
  width: 75%;
}

.movie__info__line2 {
  opacity: 0.5;
}

.movie__info__tagline {
  margin-top: 24px;
  opacity: 0.5;
}

app-movie-controls,
app-movie-credits {
  width: 100%;
}