<div
  class="movie"
  *ngIf="movie$ | async as movie">
  <div class="movie__main">
    <div class="row">
      <img class="movie__poster" [src]="movie?.poster_path">
      <app-movie-trailer class="movie__trailer"></app-movie-trailer>
    </div>

    <div class="row">
      <app-movie-controls [movieId]="movie?.id">
      </app-movie-controls>
    </div>
  </div>

  <div class="movie__info">
    <div class="movie__info__title tui-text_h5">{{ movie?.title }}</div>
    <div class="movie__info__line2">{{ movie?.year }} ‧ {{ movie?.genres! | listStringify : '/' }} ‧ {{ movie?.runtime |
      runtimeStrigify }}</div>

    <div class="movie__info__tagline">{{ movie?.tagline }}</div>
    <div class="movie__info__description">{{ movie?.overview }}</div>
    <app-movie-credits></app-movie-credits>
  </div>

  <app-reviews></app-reviews>
</div>