<div
  *ngIf="user"
  class="container">
  <div class="main">
    <div class="picture-stats-wrapper">
      <img
        class="picture"
        [src]="user.avatar_path">
      <div class="name-stats-wrapper">
        <div class="name tui-text_h6">{{ user.name }}</div>
        <app-user-statistics [userId]="user.id"></app-user-statistics>
      </div>
    </div>

    <div
      *tuiLet="isMyProfile$ | async as isMyProfile"
      class="controls">
      <button
        *ngIf="!isMyProfile"
        class="controls__follow">
        {{ followText }}
      </button>
      <div class="controls__links">
        
        <hr *ngIf="isMyProfile">
        
        <div class="controls__links__item">
          <a class="tui-text_body-m" href="">Favourites</a>
        </div>

        <hr>
        
        <div class="controls__links__item">
          <a class="tui-text_body-m" href="">Lists</a>
        </div>

        <hr>
        
        <div class="controls__links__item">
          <a class="tui-text_body-m" href="">
            {{ isMyProfile ? "Friends Activity" : "Activity" }}
          </a>
        </div>

        <hr *ngIf="isMyProfile">
        
        <div class="controls__links__item" *ngIf="isMyProfile">
          <a class="tui-text_body-m" href="">Log Out</a>
        </div>
        <hr *ngIf="isMyProfile">
      </div>

      <!-- <div class="controls__following">
        <div class="controls__following__title">Following</div>
        <app-user-preview
          *ngFor="let userId of user.followingIds"
          [user]="userId">
        </app-user-preview>
      </div> -->
    </div>
  </div>
</div>